# W4 - Python data types assignment

# 1. Print word `python` in reverse order

In [4]:
print("python"[::-1])

nohtyp

# 2. Define numerical variables `apples` and `oranges` that capture the number of apples and oranges and using `format` method print following string:
>I have **7** apples and **5** oranges, therefore I have **12** fruits.`

In [7]:
apples = 7
oranges = 5
total = apples + oranges
print("I have {0} apples and {1} oranges, therefore I have {2} fruits".format(apples,oranges,total))

I have 7 apples and 5 oranges, therefore I have 12 fruits

# 3. Convert list of characters (`['a', 'b', 'c', 'd']`) to string (`'abc'`)

In [9]:
list_characters = ['a', 'b', 'c', 'd']
list_characters.pop(-1)
print(str(list_characters))

['a', 'b', 'c']

# 4. Get difference between two lists (e.g. `[1, 2, 3, 4, 8, 12]` and `[1, 4, 8, 2]`)

In [11]:
list1 = [1, 2, 3, 4, 8, 12]
list2 = [1, 4, 8, 2]
set_list1 = set(list1)
difference_between_lists = set_list1.difference(list2)
print(difference_between_lists)

{3, 12}

# 5. Add an item to a tuple
```python
tuple_numbers = (4, 6, 2, 8, 3, 1) 
```

In [15]:
tuple_numbers = (4, 6, 2, 8, 3, 1)
new_tuple = tuple_numbers + (666,)
print(new_tuple)

(4, 6, 2, 8, 3, 1, 666)

# 6. Convert a tuple to a string
```python
input_tuple = ('p', 'y', 't', 'h', 'o', 'n')
output_string = 'python'
```

In [17]:
input_tuple = ('p', 'y', 't', 'h', 'o', 'n')
output_string = str(input_tuple)
print(output_string)

('p', 'y', 't', 'h', 'o', 'n')

# 7. Combine two dictionaries into one

```python
names1 = {'Jack': 25, 'John': 26, 'Emily': 23}
names2 = {'Carol': 28, 'Walter': 22}
```

In [18]:
names1 = {'Jack': 25, 'John': 26, 'Emily': 23}
names2 = {'Carol': 28, 'Walter': 22}
names1.update(names2)
print(names1)

{'Jack': 25, 'John': 26, 'Emily': 23, 'Carol': 28, 'Walter': 22}

# 8. Sum all the items in a dictionary
```python
ice_cream_price = {'Chocolate': 200, 'Strawberry': 188, 'Vanilla': 175, 'Caramel': 180}
```

In [19]:
ice_cream_price = {'Chocolate': 200, 'Strawberry': 188, 'Vanilla': 175, 'Caramel': 180}
print(ice_cream_price.values())

dict_values([200, 188, 175, 180])

# 9. Remove item(s) from set. Can you guess which item will be removed?
```python
set_numbers = {1, 2, 3, 4, 5}
set_letters = {'p', 'y', 't', 'h', 'o', 'n'}
```

In [20]:
set_numbers = {1, 2, 3, 4, 5}
set_letters = {'p', 'y', 't', 'h', 'o', 'n'}
set_numbers.pop()
set_letters.pop()
print(set_numbers)
print(set_letters)

{2, 3, 4, 5}
{'n', 'y', 't', 'p', 'o'}

# 10. split list into 3 different variables 
```python
color = [
    ("Black", "#000000", "rgb(0, 0, 0)"), 
    ("Red", "#FF0000", "rgb(255, 0, 0)"), 
    ("Yellow", "#FFFF00", "rgb(255, 255, 0)")
]
```

In [22]:
color = [
    ("Black", "#000000", "rgb(0, 0, 0)"), 
    ("Red", "#FF0000", "rgb(255, 0, 0)"), 
    ("Yellow", "#FFFF00", "rgb(255, 255, 0)")
]
Black = color[0]
Red = color[1]
Yellow = color[2]
print(Black)
print(Red)
print(Yellow)

('Black', '#000000', 'rgb(0, 0, 0)')
('Red', '#FF0000', 'rgb(255, 0, 0)')
('Yellow', '#FFFF00', 'rgb(255, 255, 0)')

# BONUS: test whether every element of first set is in second set and vice versa using using relational operators
```python
set_a = set(['Chocolate', 'Strawberry', 'Vanilla', 'Caramel'])
set_b = set(['Vanilla', 'Caramel','Chocolate', 'Strawberry'])
set_c = set(['Chocolate'])
```

In [23]:
set_a = set(['Chocolate', 'Strawberry', 'Vanilla', 'Caramel'])
set_b = set(['Vanilla', 'Caramel','Chocolate', 'Strawberry'])
set_c = set(['Chocolate'])
in_set_a_not_in_set_b = set_a.difference(set_b)
in_set_b_not_in_set_a = set_b.difference(set_a)
test1 = (in_set_a_not_in_set_b == in_set_b_not_in_set_a)
test2 = (in_set_a_not_in_set_b == set())
result = test1 == True and test2 == True
print(result)

True