# W5 - Python conditions and loops assignment

# 1. Using for loop, create nested list from dictionary, see example
```python
fruits = {'banana':3,'apple':2, 'mango':1, 'kiwi':5}
fruits_list = [['banana', 'banana', 'banana'], ['apple', 'apple'], ['mango'], ['kiwi', 'kiwi', 'kiwi', 'kiwi', 'kiwi']]
```

In [1]:
fruits = {'banana':3,'apple':2, 'mango':1, 'kiwi':5}

fruits_list = [[key]*value for key, value in fruits.items()]
print(fruits_list)

[['banana', 'banana', 'banana'], ['apple', 'apple'], ['mango'], ['kiwi', 'kiwi', 'kiwi', 'kiwi', 'kiwi']]

# 2. Select the shortest element from the list
```python
fruits = ['banana','apple', 'mango', 'kiwi']
shortest_fruit = 'kiwi'
```

In [2]:
fruits = ['banana','apple', 'mango', 'kiwi']

shortest_length = len(fruits[0])
shortest_fruit = fruits[0]
for fruit in fruits:
    if len(fruit) < shortest_length:
        shortest_length = len(fruit)
        shortest_fruit = fruit

print(shortest_fruit)

kiwi

# 3. Using loops and conditions, count occurrence of numbers, letters and other symbols in the string
Example
```python
'''What a to do to die today at a 1/4 or 2 to 2. 
A terrible difficult thing to say but a harder thing still to do. 
The dragon will come at the beat of the drum with a rat-tat-tat-tat-tat-tattoo 
at a 1/4 or 2 to 2 today, at a 1/4 or 2 to 2.'''
Number occurence: 12
Letter occurence: 158
Other symbols: 66
```

In [4]:
example_text = '''What a to do to die today at a 1/4 or 2 to 2. 
A terrible difficult thing to say but a harder thing still to do. 
The dragon will come at the beat of the drum with a rat-tat-tat-tat-tat-tattoo 
at a 1/4 or 2 to 2 today, at a 1/4 or 2 to 2.'''.lower()

set_numbers = {"0","1","2","3","4","5","6","7","8","9"}
set_letters = {"a","b","c","d","e","f","g","h","i","j","k","l","m","n","o","p","q","r","s","t","u","v","w","x","y","z"}
amount_numbers = 0
amount_letters= 0
amount_other_symbols = 0
for character in example_text:
    if character in set_numbers:
        amount_numbers += 1
    elif character in set_letters:
        amount_letters += 1
    else:
        amount_other_symbols += 1
print("Number occurence: {0}\nLetter occurence: {1}\nOther sysmbols: {2}".format(amount_numbers, amount_letters, amount_other_symbols))

Number occurence: 12
Letter occurence: 158
Other sysmbols: 69

# 4. Calculate dog's age in human years
using this article: [https://pets.webmd.com/dogs/how-to-calculate-your-dogs-age](https://pets.webmd.com/dogs/how-to-calculate-your-dogs-age)

*Note: for simplicity, use values for medium dogs*

In [5]:
dog_age_converter = {1:15,2:24,3:28,4:32,5:36,6:42,7:47,8:51,9:56,10:60,11:65,12:69,13:74,14:78,15:83,16:87}

def dog_human_age(dog_age):
    return dog_age_converter[dog_age]

print(dog_human_age(13))

74

# 5. Count the number of even and odd numbers from a series of numbers.
```python
seq = [1,44,30,15,2,18]
```
Odd numbers: 2
Even numbers: 4

In [6]:
seq = [1,44,30,15,2,18]
list_even_numbers = [number for number in seq if number%2 == 0]
list_odd_numbers = [number for number in seq if number%2 > 0]
print("Odd numbers: " + str(len(list_odd_numbers)) + " Even numbers: " + str(len(list_even_numbers)))

Odd numbers: 2 Even numbers: 4

# 6. Using loops, print following pattern
```
*
**
***
****
```

In [7]:
for i in list(range(4)):
    print("*" + "*"*i)

*
**
***
****

# 7. Using list comprehensions, transform all vowels within the string to upper case

example `python -> pYthOn`

In [8]:
list_of_vowels = ["a","e","o","u","i","y"]
def capitalize_vowel(letter):
    if len(letter) == 1:
        if letter in list_of_vowels:
            return letter.capitalize()
        else:
            return letter 
def transform_string(string):
    transformed_list = [capitalize_vowel(string_letter) for string_letter in string]
    return "".join(transformed_list)

print(transform_string("Hello there, why do you transform me?"))

HEllO thErE, whY dO YOU trAnsfOrm mE?

# 8. Print position number of the letter
1. Ask user to type letter (just one)
2. Print position of the letter in the alphabet

Example
```
Type letter: B
Letter B position is 2.
```

In [11]:
list_alphabet = ["a","b","c","d","e","f","g","h","i","j","k","l","m","n","o","p","q","r","s","t","u","v","w","x","y","z"]
user_letter = input("Please give me a letter (just one!): ")
print(list_alphabet.index(user_letter) + 1)

Please give me a letter (just one!): d
4

# 9. Find the median of three values (do not use median function)
Ask user to input 3 values
Example
```
Type number:5
Type number:12
Type number:6

Median value is 5.
```

In [12]:
user_value_1 = int(input("Please give me a number: "))
user_value_2 = int(input("Please give me a another number: "))
user_value_3 = int(input("Please give me yet another number, last one, I promise: "))
list_user_numbers = [user_value_1, user_value_2, user_value_3]
list_user_numbers.sort()
print(list_user_numbers)
print(list_user_numbers[1])

Please give me a number: 45
Please give me a another number: 30
Please give me yet another number, last one, I promise: 46
[30, 45, 46]
45

# 10. Using `break` and `continue` statements, print numbers
1. Ask user for their favourite number 
    1. If user chose number 13, ask user for another number
    1. Else print numbers from 0 to favourite number, but do not print number 13
    1. Finish printing after user's favourite number

In [13]:
user_favourite_number = int(input("What is your favourite number? "))
number_printed = 0
while number_printed == False:
    if user_favourite_number == 13:
        user_favourite_number = int(input("Please give me another number... "))
    else:
        list_to_print_including_13 = list(range(user_favourite_number + 1))
        list_to_print_excluding_13 = [number for number in list_to_print_including_13 if number != 13]
        number_printed = True
        print(list_to_print_excluding_13)

What is your favourite number? 7
[0, 1, 2, 3, 4, 5, 6, 7]

# BONUS: Using nested loops, print first letter of your name:

```
  ***                                                                   
 *   *                                                                  
 *   *                                                                  
 *****                                                                  
 *   *                                                                  
 *   *                                                                  
 *   *
```

In [14]:
letter_b_dictionairy = {0:[1,1,1],1:[1,0,0,1],2:[1,0,0,1],3:[1,1,1],4:[1,0,0,1],5:[1,0,0,0,1],6:[1,0,0,0,1],7:[1,0,0,0,1],8:[1,1,1,1,0]}
for i in list(range(9)):
    for element in letter_b_dictionairy[i]:
        if element == 1:
            print("*", end = '')
        else:
            print(" ", end = '')
    print("")

***
*  *
*  *
***
*  *
*   *
*   *
*   *
****